/* Main & utility Classes  */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');

/* font-family: 'Roboto', sans-serif;  300, 400 & 700  */
/* font-family: 'Lato', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* font-family: 'Roboto', sans-serif;  */
  font-family: 'Lato', sans-serif; 
}

.pt-1{
  padding-top: 4rem;
}

/* NavBar  */
.navbar-brand img{
  max-width: 170px;
  /* display: inline; */
  vertical-align: middle;
  max-height: auto;
  margin:0 10px;

}

.navbar-nav li a{
  vertical-align: middle;
  margin: 5px;

}

.navbar-default{
  vertical-align: middle;
  /* height: auto; */
  height: 70px;
  background-color: red;
  text-align: center;
  background: #fff;
  /* background: none; */

  border: none;

}



.navbar-default .navbar-nav>li>a.active {

  color: #FBF8D9;
  color: rgb(24, 87, 87);
  pointer-events: none;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  font-weight: 400;
  color: #99CCCC;
  color: rgb(94, 200, 200);
  color: #212121;
  color: rgba(24, 87, 87, 0.788);

  /* color: #334A52; */
  /* color: #5EC8E5; */
  font-size: 1.7rem;
  text-transform: uppercase;
}


.navbar-default .navbar-nav>li>a:hover{
  color: #212121b4;
  color: rgb(24, 87, 87);

}

/* About Section  */

#about{
  width: 100%;
  padding: 2.5rem 0;
  /* height: 600px; */
  /* An issue occured make the delivery section be bottom the above section  */
  height: auto;
}

#about h1{
  font-size: 2.7rem;
  color: rgb(24, 87, 87);
  font-weight: bold;
}

#about p{
  padding-top: 1.2rem;
  /* color: rgb(116, 116, 116); */
  color: rgb(95, 95, 95);
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-size: 1.9rem;
}

#about img{
  width: 100%;
  margin-bottom: 0.8rem;
}


#about div.image{
  background: url('../imgs/aboutlg.jpeg') no-repeat center center/cover;
  height: 508px;
  position: relative;
  margin-bottom: 0.9rem;
}


#about div.image p{
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 1.9rem;
  background: rgba(0, 0, 0, 0.4);
  padding: 5.6rem;
  text-transform: capitalize;
  margin: 0;
  line-height: 1.3;
  word-spacing: 0.2rem;
}


#about .product-description{
  /* color: rgba(114, 114, 114, 0.822); */
  color: rgba(32, 32, 32, 0.705);
  font-weight: 400;
  /* width: 60%; */
}

#about .price{
  color: rgba(19, 70, 70, 0.835);
  font-weight: 700;
  
}



.carousel-inner{
  width:100%;
  max-height: 825px !important;

}


/* Delivery Section */
#delivery{
  margin-top: 5rem;
  padding: 23rem;
  width: 100%;
  /* height: 400px; */
  background: url('../imgs/delivery.jpeg');
  background-attachment: fixed;
  text-align: center;
  /* height: 400px; */
  height: auto;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: center;
  
  /* test  */
  position: relative;
}


#delivery p{
  /* line-height: 35rem; */
  font-size: 4.4rem;
  color: #fff;
  /* border: 2px solid #f5f5f5f5; */
  font-weight: bold;
  /* height: 400px; */
  padding: 0.5rem;
  margin: 0;
 
  /* test  */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: center;
  
}


/* Sales & Deals Section  */
#sales{
  padding: 2.5rem 0;
  width: 100%;
  height: auto;
  
}

#sales h1{
  font-size: 2.7rem;
  color: rgb(24, 87, 87);
  font-weight: bold;
}

#sales p{
  padding-top: 1.2rem;
  color: #7A7A7A;
  font-weight: 300;
  line-height: 1.3;
  text-transform: capitalize;

}



#sales img{
  width: 100%;
  height: 240px;
  margin-top: 1.4rem;
  /* box-shadow: 0 0 14px rgba(0, 0, 0, 0.493); */
  box-shadow: 0px 2px 25px rgba(0, 0, 0, .25);
}

#sales  a{
  display: inline-block;
display: flex;
justify-content: center;
  border: none;
  /* border-radius: none; */

}

.btn{
  border-radius: 0;
}

.btn-info {
  color: #fff;
  background-color: rgba(24, 87, 87, 0.79) !important;
  transition: background-color 1s;
}

.btn-info:hover {
  color: #fff !important;
  background-color: rgba(29, 114, 114, 0.787) !important;
  /* border-color: #269abc; */
}

#sales a{
  font-size: 1.5rem;
  vertical-align: middle;
  /* text-transform: uppercase; */
  font-family: 'Roboto', sans-serif; 

}

/* Why-Us Section  */

#why_us {
  padding: 4.2rem 0;
  width: 100%;
  height: auto;
    /* background: #ddd; */
    background-color: #F7F7F7;
    /* margin: 5rem 0; */
    /* text-align: center; */
  display: flex;
  /* text-align: center; */
  justify-content: center;

  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;

  }

#why_us h1{
  text-align: center;
  font-size: 3.5rem;
  color: rgb(24, 87, 87);
  font-weight: bold;
  padding-bottom: 4.2rem;
  letter-spacing: 0.2rem;
  margin-top: 0;
}


/* #why_us .icons{
  padding-top: 2.5rem;
  margin: 0;

} */

#why-us i{

  /* float: left; */
  padding-top: 100px;
}

#why_us div.icons-text {
  /* width: 80%; */
  /* float: left; */
  margin-bottom: 50px;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

#why_us div.icons-text p{
  margin: 0;
  /* text-align: left !important; */
  margin: 0 auto;
  font-size: 1.9rem;
}

#why_us div.icons-text h2{
  color: rgba(35, 87, 87, 0.849);
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0;
  padding-bottom: 20px;
  /* text-align: left !important; */
  text-align: center;
  margin: 0 auto;
  padding-top: 0.8rem;
  
}




i.icon{
  width: 10%;
  margin-right: 4rem;
  /* margin: 0 auto; */
  color: rgba(51, 51, 51, 0.966);
  padding-top: 4rem;
  /* margin-right:10%; */
}


/* Footer  */
#main-footer{
  width: 100%;
  height: auto;
  /* background-color: #FCF9DA; */
  background-color: #FFFFFF;
  background-color: #627C7B;
  color: #fff;
  padding: 2.25rem 0;
}

#main-footer p {
  font-size: 1.2rem; 
  color: #4C4C4C;
  padding: 1.5rem;
}

#main-footer a{
  color: #4C4C4C;

}

#main-footer i{
  padding: 1.2rem;
}


#main-footer .fa-facebook:hover{
  /* color: red; */
  color: #3b5998;
}

#main-footer .fa-instagram:hover{
  color: #bc2a8d;
}

#main-footer .fa-twitter:hover{

  color:#39A2F2;

}

#main-footer .fa-cc-visa:hover{

  color:#172274;

}



#main-footer .fa-cc-mastercard:hover{  
  /* color: rgb(20, 2, 4); */
  /* color: #231F20; */
  /* color: #EB001B; */
  color: #EE5E36;
  color: #EB001B;
  color: #cc0000;
  color: #f5f5f5;
}


.ig:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #bc2a8d;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}



.fb:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #3b5998;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


.credit-card:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #172274;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.master-card:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* border-color: rgba(247, 159, 27, 0.753); */
  border-color: #FF5F00;
  border-color: #EE5E36;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.p3{
  padding-right: 40px;
}

.disabled{
  pointer-events: none;
}


#main-footer img{
  width: 100%;
  max-width: 390px;
  padding-top: 1.4rem;
  padding-bottom: 1.9rem;

}

/* ----- Products.html ------- */

/* Products Section  */
.products {
  width: 100%;
  /* height: 370px; */
  text-align: center;
  /* height: 400px; */
/* height: 520px; */
background: url('../imgs/product2.jpg') no-repeat;
background-size: cover;
background-position: 5% 10%;
position: relative;
/* height: auto; */
/* padding: 2.5rem; */
height: 490px;
}


section.products h1{
  font-size: 5rem;
  text-align: center;
  padding-top: 20rem;
  color: #fff;
  position: absolute;
  background-color: rgba(0, 0, 0, .25);
bottom: 0;
left: 0;
right: 0;
height: 450px;
margin: 0;
}

#product-items{
  padding-top: 4rem;

}


#product-items h2{
  color: rgb(24, 87, 87);
  font-size: 2.7rem;
}

#product-items img{
  width: 95%;
  height: 450px;
}


#product-items .pt-3{
  padding-top: 4.9rem;
}

#product-items p{
  font-size: 1.9rem;
  color: #727272;
 width: 100%;
  line-height: 1.4;
  font-weight: 300;
}

.pb-5{
  padding-bottom: 4.5rem;
}



/* ----- Services.html ------- */

.services {
  width: 100%;
  /* height: 370px; */
  text-align: center;
  /* height: 400px; */
/* height: 520px; */
background: url('../imgs/services2.jpg') no-repeat;
background-size: cover;
background-position: 5% 10%;
position: relative;
/* height: auto; */
/* padding: 2.5rem; */
height: 490px;
}


section.services h1{
  font-size: 5rem;
  
  text-align: center;
  padding-top: 20rem;
  color: #fff;
  position: absolute;
  background-color: rgba(0, 0, 0, .25);
bottom: 0;
left: 0;
right: 0;
height: 450px;
margin: 0;
}

#services-items{
  padding-top: 5rem;

}
#services-items i, #services-items .service-text{
  margin: 0;
  float: left;
}


#services-items i{
  width: 20%;
  color: #333;
}

.service-text h2{
  color: rgb(24, 87, 87);
  font-size: 2.5rem;
}

.service-text p{
  font-weight: 300;
  font-size: 1.8rem;
  color: #727272;

}

#services-items .service-text{
  width: 70%;
}

.mb-5{
  margin-bottom: 3rem;
}

.mb-1{
  padding-bottom: 2rem;
}



/* ----- Contact.html ------- */

.contact-us {
  width: 100%;
  /* height: 370px; */
  text-align: center;
  /* height: 400px; */
/* height: 520px; */
background: url('../imgs/contact2.jpg') no-repeat center center/cover;
/* background-size: cover;
background-position: 5% 10%; */
position: relative;
/* height: auto; */
/* padding: 2.5rem; */
height: 470px;
background-attachment: fixed;
}

.contact-us h1{

    font-size: 5rem;
    text-align: center;
    padding-top: 20rem;
    color: #fff;
    position: absolute;
    background-color: rgba(0, 0, 0, .25);
  bottom: 0;
  left: 0;
  right: 0;
  height: 450px;
  margin: 0;
  }

  #contact-details{
    /* height: 1090px; */
    height: auto;
    padding: 5rem;
  }
  #contact-details i{
    margin-right: 1rem;
    color: rgb(24, 87, 87);
    font-size: 2.2rem;
  }

  /* #contact-details .lead{
  } */

  #contact-details h2{
    color: rgb(24, 87, 87);
    font-size: 3.6rem;
    padding-bottom: 2rem;
  }

  #contact-details p{
    padding-bottom: 1.9rem;
    font-size: 1.8rem 
  }

  #contact-details p a {
    text-decoration: none;
    color: rgb(11, 36, 36);
    
  }

  #contact-details p a:hover{
    font-weight: 400;
    text-decoration: underline;
    color: rgb(24, 87, 87);

  }

  #contact-details label{
    /* width: 33%; */
  display: block;
    /* display: inline-block; */
  }

  #contact-details input{
    /* margin-left: 3rem; */
  }


  .form-control:focus {
    outline: #265B35;
    border-color: #265B35 ;
    /* background-color: #515656; */
    background-color: #a5b1b1b6;
    font-weight: bold;
    color: #333;
  }


  #contact-details label{
    color: #333;
    font-size: 1.7rem;
  }

  #contact-details .button.btn-danger{
    background-color: #265B35 ;
    border: none;
}

#contact-details .button.btn-danger:hover{
  background-color: rgba(38, 91, 53, 0.787);
}

/* .badge{

} */
.btn-info .badge {
  color: rgba(248, 240, 240, 0.883);
  /* background-color: rgba(255, 255, 255, 0.397); */
  background-color: rgb(98, 124, 123);
  border: none;
  margin-left: 2rem;
  font-size: 1.1rem;
  vertical-align: middle;
  padding: 5px;
}



/* ----- About.html ------- */

.about-us {
  width: 100%;
  /* height: 370px; */
  text-align: center;
  /* height: 400px; */
/* height: 520px; */
background: url('../imgs/about3.jpg') no-repeat center center/cover;
/* background-size: cover;
background-position: 5% 10%; */
position: relative;
/* height: auto; */
/* padding: 2.5rem; */
height: 470px;
background-attachment: fixed;
}



.about-us h1{

  font-size: 5rem;
  text-align: center;
  padding-top: 20rem;
  color: #fff;
  position: absolute;
  background-color: rgba(0, 0, 0, .25);
bottom: 0;
left: 0;
right: 0;
height: 450px;
margin: 0;
}

#more-about img{
  width: 100%;
}
#more-about h2{
  font-size: 4rem;
  line-height: 1.3;
  font-family: 'Roboto', sans-serif; 
  color: #333;
}

#more-about .btn-info {
  border: none;
  border-radius: 3px;
}

#more-about img{
  filter: blur(10%);
}

/* Section Clients  */
#clients{
  height: auto;
}
#clients h1{
  /* font-size: 2.7rem; */
  color: rgb(24, 87, 87);
  font-weight: bold;
  padding-bottom: 2.5rem;
}

#clients blockquote{
  padding-bottom: 7rem;

}


#clients blockquote p{
    color: #333;
    font-size: 1.6rem;
}


#clients blockquote img{
  width: 60%;
  height: 400px;
  padding-bottom: 2rem;
  /* border-radius: 50%; */
}

#clients .block-left {
  border-left: 4px solid rgb(24, 87, 87);
}

.blockquote-reverse, blockquote.pull-right{

  border-right: 4px solid rgb(24, 87, 87);
}
/* Screen Sizes  */
/* Moved to a separate file Mobile.css */
